{{ if .Site.Params.intro }}
  <div class="intro">
    <h1>About Me</h1>
    <p>Hi, I'm Firaaz. I graduated in History last year, but realised I'd much rather spend my time looking forward, rather than looking at the past. I promise my programming is less cheesy than that opener. </p>

      <p>In September 2020 I graduated the re/Start AWS Cloud Computing course. As a teenager one of my biggest hobbies was fiddling with tech, from learning how to use Photoshop, creating Pokemon romhacks for fun, to just rooting my phone, I've always been drawn to the slight dopamine rush that comes with successfully diagnosing and solving a problem! </p> 
      
      <p>In my free time I really enjoy competitive gaming, reading (currently reading Meditations by Marcus Aurelius) and playing guitar, with the eventual goal of making my own music as a hobby. Thanks for reading! </p>
  </div>

  <div class="skill">
    <h1>Skills</h1>
  </div>


<div class="skillcat">
    <p style="font-size:1.5rem; font-weight: bold; "><img src="images/aws.svg" alt="aws" style="display: inline-block; padding:1em 1em 0em 1em; width: 8rem" />AWS</p>
    <p style="font-size:3">I have become familiar with the AWS suite, learning how to use various services such as VPC, EC2, lambda, S3, Route 53 etc, and how they can all integrate.</p>
    </div>


<div class="skillcat">
<p style="font-size:1.5rem; font-weight: bold;"><img src="images/python.svg" alt="python" style="display: inline-block; padding:1em 1em 0em 1em; width: 8rem" />Python</p>
<p style="font-size:3">I have gained a foundational knowledge of Python, how to write basic scripts, and more importantly how to research and fill in knowledge gaps that would otherwise be an obstacle.</p>
</div>



<div class="skillcat">
    <p style="font-size:1.5rem; font-weight: bold;"><img src="images/linux.png" alt="tux" style="display: inline-block; padding:1em 1em 0em 1em; width: 8rem" />Linux</p>
    <p style="font-size:3">I have learned the fundamentals of Linux, how to navigate using the terminal, how to create basic scripts to automate common processes, how permissions work etc.</p>
    </div>

<div class="skillcat">
      <p style="font-size:1.5rem; font-weight: bold;"><img src="images/git.svg" alt="git" style="display: inline-block; padding:1em 1em 0em 1em; width: 8rem" />Git</p>
      <p style="font-size:3">I understand the basic functions and utilisation of Git, being able to initialise local repositories, committing and pushing them to remote ones, etc. My primary example being this website!</p>
      </div>

<div class="skillcat">
        <p style="font-size:1.5rem; font-weight: bold;"><img src="images/networking.png" alt="networking" style="display: inline-block; padding:1em 1em 0em 1em; width: 8rem" />Networking</p>
        <p style="font-size:3">I have learned about networking, what constitutes a packet and how these travel using standard network protocols such as TCP/ICP, etc.</p>
        </div>
{{ end }}
